services:
  redis:
    image: redis:7
    container_name: redis
    command: [ "redis-server", "--appendonly", "yes" ]
    ports:
      - "0.0.0.0:6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - redis_network

volumes:
  redis_data:

networks:
  redis_network: